<VirtualHost *:443>
    ServerName {{item.value.host}}
    DocumentRoot "{{apps_dir}}/{{item.value.document_root}}"
    SSLEngine on
    ErrorLog /var/log/httpd/{{item.value.host}}-ssl-error.log

    SSLCertificateFile "/etc/httpd/ssl/{{item.value.host}}.crt"
    SSLCertificateKeyFile "/etc/httpd/ssl/{{item.value.host}}.key"

    <FilesMatch "\.(cgi|shtml|phtml|php)$">
        SSLOptions +StdEnvVars
    </FilesMatch>

    <Directory "{{apps_dir}}/{{item.value.document_root}}">
        Options Includes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>

<VirtualHost *:80>
    ServerName {{item.value.host}}
    DocumentRoot "{{apps_dir}}/{{item.value.document_root}}"
    ErrorLog /var/log/httpd/{{item.value.host}}-error.log
    <Directory "{{apps_dir}}/{{item.value.document_root}}">
        Options Includes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>
